* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.navigationbar {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 80px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

nav li a:hover{
  color: #d6d5cb
}

.informatie {
  text-align: center;
}

.informatie h1 {
  font-size: 160px;
  font-weight: 600;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.informatie a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.backgroundvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .backgroundvideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .backgroundvideo {
    width: auto;
    height: 100%;
  }
}

.zonskiachtergrond {
  background-image: url(img/zonski.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 500px;
  z-index: -2;
}


.lawinesachtergrond {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(img/lawinesmooi.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 350px;
  z-index: -2;
}

.Skipistesachergrond {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(img/norwayskier.webp);
  background-size: cover;
  background-position: center 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 400px;
  z-index: -2;
}

.skimerch {
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  text-align: bottom center;
  z-index: -2;
}

.Snowboardachtergrond {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(img/boardachter.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 400px;
  z-index: -2;
}

.wintersportwatishet {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(img/wintersportback.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 400px;
  z-index: -2;
}

.langlaufachtergrond {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(img/plaatjelanglauf.jpg);
  background-size: cover;
  background-position: bottom;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 400px;
  z-index: -2;
}

.bobachtergrond {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)),url(img/bobsleda.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 400px;
  z-index: -2;
}

h1 {
  color: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

td {
  background-color: #fff;
}

caption {
  color: #000;
  font-size: 20px;
}


.lawinestabel {
  background-color: #b4dcf6;
  background-size: cover;
  display: grid;
  place-content: center;
  min-height: 610px;
  z-index: -2;
  outline: 15px solid black;
}



.opmaaktabel {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9en;
  min-width: 400px;
}

.opmaaktabel thead tr {
  background-color: #516790;
}

.textachtergrond {
  background-color: #d1905e;
  background-size: cover;
  background-position: top;
  min-height: 669px;
  z-index: -2;
  outline: 15px solid black;
  color: #fff;
  place-content: center;
  text-align: center;
}

.textachtergrond2 {
  background-color: #c8e0ea;
  background-size: cover;
  background-position: top;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 669px;
  z-index: -2;
  outline: 15px solid black;
  color: #000;
}

.textachtergrond3 {
  background-color: #cddcee;
  background-size: cover;
  background-position: top;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 669px;
  z-index: -2;
  outline: 15px solid black;
  color: #000;
}

.textachtergrond4 {
  background-color: #a6bec9;
  background-size: cover;
  background-position: top;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 600px;
  z-index: -2;
  outline: 15px solid black;
  color: #000;
}

.tekstachtergrond5 {
  background-color: #a9b2c0;
  background-size: cover;
  background-position: top;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 669px;
  z-index: -2;
  outline: 15px solid black;
  color: #000;
}

.tekstachtergrond6 {
  background-color: #bcc0c1;
  background-size: cover;
  background-position: top;
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 669px;
  z-index: -2;
  outline: 15px solid black;
  color: #000;
}


.textachtergrond2 p {
  color: #000;
}

.textachtergrond3 p {
  color: #000;
}

.textachtergrond p {
  color: #000;
}

.textachtergrond4 p {
  color: #000;
}

.tekstachtergrond5 p {
  color: #000;
}

.tekstachtergrond6 p {
  color: #000;
}

.textachtergrond h3 {
  color: #000;
}

.textachtergrond li {
  color: #000;
}

p {
  color: #fff;
  margin: 10px;
}

.tekstvakje1skien {
  width: 420px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  background-color: #fff;
  position: absolute;
  top: 520px;
  left: 130px;
}

.tekstvakje2skien {
  width: 420px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  background-color: #fff;
  position: absolute;
  top: 520px;
  left: 1300px;
}

.tekstvakje3skien {
  width: 420px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  padding-left: 20px;
  background-color: #fff;
  position: absolute;
  top: 820px;
  left: 130px;
}

.tekstvakje4skien {
  width: 620px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  padding-left: 20px;
  background-color: #fff;
  position: absolute;
  top: 520px;
  left: 600px;
}

.tekstvakje1 {
  width: 420px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  background-color: #fff;
  position: absolute;
  top: 420px;
  left: 130px;
}

.tekstvakje2 {
  width: 420px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  background-color: #fff;
  position: absolute;
  top: 420px;
  left: 1300px;
}

.tekstvakje3 {
  width: 420px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  padding-left: 20px;
  background-color: #fff;
  position: absolute;
  top: 720px;
  left: 130px;
}

.tekstvakje4 {
  min-height: 200px;
  width: 620px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  padding-left: 25px;
  background-color: #fff;
  position: absolute;
  top: 420px;
  left: 600px;
}

.tekstvakjelawine {
  width: 1520px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  padding-left: 20px;
  background-color: #fff;
  position: absolute;
  top: 355px;
  left: 200px;
}

.tekstvakjelawine p {
  color: #000000;
}
